@use '@/styles/variables' as *;

.footer {
  background: transparent;
  padding: 40px 0;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.footer__social-list {
  display: flex;
  gap: 24px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid $color-text-secondary;
  border-radius: 8px;
  background: transparent;
  transition: color 0.2s, border 0.2s;
  color: $color-text-secondary;
  text-decoration: none;
  font-size: 20px;
}

.footer__social-link:hover, 
.footer__social-link:focus-visible{
  color: $color-accent;
  border: 1px solid $color-accent;
  outline: none;
}

.footer__social-link svg {
  width: 100%;
  height: 100%;
}

/* ------------ МОБИЛЬНАЯ ВЕРСИЯ (≤ 868px) ---------- */
@media (max-width: 868px) {
  .footer {
    padding: 22px 0 36px;
  }

  .footer__container {
    justify-content: flex-start;
  }
}

@media (max-width: 520px) {
  .footer__social-link {
    width: 24px;
    height: 24px;
    padding: 5px;
  }
}