.favorite-button {
  width: 68px;
  height: 56px;
  padding: 0;
}

.favorite-button--active {
  color: #B4A9FF;
  .favorite-button__icon path {
    fill: #B4A9FF;
    stroke: none;
  }
}

.favorite-button__icon {
  width: 24px;
  height: 24px;
  display: block;
}