@use '@/styles/variables' as *;

.rating {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.rating__star {
  font-size: 18px;
}

.rating--gold {
  background-color: $color-rating-gold;
  color: $color-text-primary;
}

.rating--green {
  background-color: $color-rating-green;
  color: $color-text-primary;
}

.rating--gray {
  background-color: $color-rating-gray;
  color: $color-text-primary;
}

.rating--red {
  background-color: $color-rating-red;
  color: $color-text-primary;
}

.rating--black {
  background-color: $color-black;
  color: $color-text-primary;
}

.rating--compact {
  padding: 0px 8px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 16px;
  gap: 4px;

  .rating__star {
    font-size: 12px;
  }
}