@use '@/styles/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  padding: 24px 0;
  margin-bottom: 32px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 80px;
}

.logoLink {
  display: flex;
  align-items: end;
  gap: 8px;
  text-decoration: none;
}

.logoImage {
  height: 34px;
  padding-left: 7px;
  width: auto;
  display: block;
  color: $color-text-primary;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0 16px;
  }

  .logo {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 20px 0 12px;
  }

  .logoImage {
    height: 20px;
    width: auto;
    padding-left: 3px;
  }
}