.header {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  padding: 24px 0;
  margin-bottom: 32px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 80px;
}

.header__nav {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header__search {
  flex: 1;
  margin-right: 80px;
}

.header__auth {
  flex-shrink: 0;
}

.header__logo-link {
  display: flex;
  align-items: end;
  gap: 8px;
  text-decoration: none;
}

.header__logo-image {
  height: 34px;
  padding-left: 7px;
  width: auto;
  display: block;
  color: #fff;
}

.header__nav-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 0;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid transparent;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.header__nav-link:hover {
  color: #B4A9FF;
}

.header__nav-link--active {
  border-bottom: 1.5px solid #DC5DFC;
}

.header__search-wrapper {
  display: flex;
  align-items: center;
  background: #393B3C;
  border-radius: 8px;
  padding: 0 16px;
  height: 48px;
  gap: 12px;
}

.header__search-wrapper svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.header__search-input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 0;
  outline: none;
}

.header__search {
  position: relative;
  flex: 1;
  margin-right: 80px;
}

.search__clear {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }
}

.search-dropdown {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  width: 560px; // фиксированная ширина
  max-width: 100%; // но на мобилках не вылезает
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #393B3C;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  max-height: 476px;
  overflow-y: auto;
  z-index: 200;
  padding: 8px;

  // чтобы выпадашка не уезжала вправо на маленьких экранах
  @media (max-width: 768px) {
    width: calc(100vw - 32px);
    left: 16px;
    right: 16px;
  }
}

.search-dropdown__loading,
.search-dropdown__empty {
  padding: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}